@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "NotoSansArabic";
  src: url("../public/fonts/Noto_Sans_Arabic/NotoSansArabic-VariableFont_wdth\,wght.ttf");
  font-weight: 100 1000;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #f6ebdf;
  }
}

html {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-girl-sitting-img-mobile {
  background-image: url('/img/home/girl-sitting-img-mobile.png');
}

@media (min-width: 640px) {
  .sm\:bg-girl-sitting-on-a-mushroom {
    background-image: url('/img/home/girl-sitting-on-a-mushroom.png');
  }
}

.open-qutation-mobile {
  background-image: url('/img/home/open-qutation-mobile.svg');
}

@media (min-width: 640px) {
  .sm\:open-qutation {
    background-image: url('/img/home/open-qutation-img.svg');
  }
}

.closed-qutation-mobile {
  background-image: url('/img/home/closed-qutation-mobile.svg');
}

@media (min-width: 640px) {
  .sm\:closed-qutation {
    background-image: url('/img/home/close-qutation-img.svg');
  }
}

.book-read-more-mobile {
  background-image: url('/img/home/book-read-with-shadow-mobile.png');
  /* height:285px; */
}

@media (min-width: 640px) {
  .sm\:book-read-more {
    background-image: url('/img/home/book-read-more-with-shadow.png');
    /* height:570px; */
  }
}


.read-more-hero-mobile {

  background-image: url('/img/home/read-more-mobile.png');
  height:898px;
   background-size:contain;
  background-repeat: round; 
}

@media (min-width: 640px) {
  .sm\:book-read-more-hero {
    background-image: url('/img/home/read-more.png');
    height:1119px;
    background-size:cover;
   
  }
}